* {
	margin: 0;
	padding: 0;
}
.main-background {
	background-color: rgba(242, 244, 247, 0.8);
}
.text-center {
	text-align: center;
	margin-top: 12px;
	margin-bottom: 12px;
}

article.comic-character {
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    display: inline-block;
    height: 380px;
    margin: 50px 0px 20px 10%;
    position: relative;
    vertical-align: top;
    width: 85%;
}

article.comic-character figure {
	float: left;
	height: 200px;
	margin-left: -30px;
	margin-right: 15px;
	margin-top: -50px;
	width: 200px;
}

article.comic-character figure img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

article.comic-character span.char-name {
	position: absolute;
	font-weight: bolder;
	font-size: 1.5em;
	top: -30px;
	right: -2px;
}

article.comic-character p {
	margin: 5px 5px;
}

article.comic-character div.comic-list {
    position: absolute;
    bottom: 10px;
    padding: 0px 5px;
    width: 100%;
}

article.comic-character div.comic-list div ul{
    height: 120px;
    overflow-y: scroll;
}

@media screen and (min-width: 480px) {

}

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 950px) {
	
}

@media screen and (max-width: 1300px) {
	article.comic-character {
		height: 500px;
	}
}